<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.q.pocketmusic">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ico_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.q.pocketmusic.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".module.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="pocket.music.home.activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.net.type.SongTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.song.SongActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".service.MediaPlayerService" />

        <activity
            android:name=".module.share.ShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".module.search.recommend.list.RecommendListActivity" />
        <activity android:name=".module.user.login.LoginActivity" />
        <activity android:name=".module.user.register.RegisterActivity" />
        <activity android:name=".module.home.ask.publish.AskSongActivity" />
        <activity
            android:name=".module.home.ask.comment.AskSongCommentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".module.user.suggestion.SuggestionActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".module.home.profile.setting.SettingActivity" />
        <activity android:name=".module.home.profile.collection.CollectionActivity" />
        <activity android:name=".module.home.profile.setting.help.HelpActivity" />
        <activity android:name=".module.home.profile.contribution.ContributionActivity" />

        <!-- <meta-data -->
        <!-- android:name="com.taobao.android.hotfix.IDSECRET" -->
        <!-- android:value="@string/IDSECRET" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.taobao.android.hotfix.APPSECRET" -->
        <!-- android:value="@string/APPSECRET" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.taobao.android.hotfix.RSASECRET" -->
        <!-- android:value="@string/RSASECRET" /> -->

        <activity
            android:name=".module.lead.LeadSongActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".module.user.forget.ForgetActivity" />
        <activity
            android:name=".module.search.SearchMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".module.piano.PianoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".module.home.net.banner.BannerActivity" />
        <activity android:name=".module.home.profile.post.UserPostActivity"></activity>
    </application>

</manifest>